
<ion-view title="Autor">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        Información
      </div>
      <div class="item item-text-wrap">
        <p>Aplicación desarrollada por {{author.name}}</p>
        <p>A continuación puede consultar más información sobre el autor</p>
      </div>
      <a ui-sref="curriculum" class="item item-icon-left">
        <i class="icon ion-ios-book"></i>
        Currículum vitae
      </a>
      <a href="mailto:{{author.email}}" class="item item-icon-left">
        <i class="icon ion-ios-email"></i>
        <b>Correo: </b><span>{{author.email}}</span>
      </a>
      <a href="http://twitter.com/{{author.twitter}}" class="item item-icon-left">
        <i class="icon ion-social-twitter"></i>
        <b>Twitter: </b><span>@{{author.twitter}}</span>
      </a>
      <a href="tel:{{author.phone}}" class="item item-icon-left">
        <i class="icon ion-android-call"></i>
        <b>Teléfono: </b><span>{{author.phone}}</span>
      </a>
    </div>
  </ion-content>
</ion-view>
