<ion-view title="{{book.title}}">
  <ion-content class="padding">
    <img src="img/{{book.cover}}" alt="{{book.title}} Cover">
    <h2>{{book.title}}</h2>
    <p><b>Autor:</b> {{book.author}}</p>
    <p><b>Año:</b> {{book.year}}</p>
    <p><b>ISBN:</b> {{book.isbn}}</p>
    <p><b>Editorial:</b> {{book.editorial}}</p>
  </ion-content>
</ion-view>
