<ion-view title="Curriculum">
  <ion-content>
    <ion-list>
      <ion-item class="item item-text-wrap" ng-repeat="work in works">
        <h2>{{work.date}}:</h2>
        <p>{{work.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
