<ion-view title="Inicio">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        Bienvenido a iBiblioteca!
      </div>
      <div class="item item-text-wrap">
        <p>iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar una biblioteca
          de un centro educativo.</p>
        <p>Para acceder a la biblioteca pulsa en el siguiente botón</p>
      </div>
      <a ui-sref="ibiblioteca" class="item item-icon-left">
        <i class="icon ion-person"></i>
        Accesso a iBiblioteca
      </a>
    </div>
    <div class="card">
      <div class="item item-divider">
        Información sobre el autor
      </div>
      <div class="item item-text-wrap">
        <p>Aplicación desarrollada por Jesús Gallego</p>
      </div>
      <a ui-sref="author" class="item item-icon-left">
        <i class="icon ion-person"></i>
        Consultar información
      </a>
    </div>
  </ion-content>
</ion-view>
