<ion-view title="ibiblioteca">
  <ion-content>
    <div class="list">
      <a ui-sref="bookDetail({ id : $index})" class="item item-thumbnail-left" ng-repeat="book in books">
        <img src="img/{{book.cover}}" alt="{{book.title}} Cover">
        <h2>{{book.title}}</h2>
        <p><b>Autor:</b> {{book.author}}</p>
        <p><b>Año:</b> {{book.year}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
